# PostgreSQL (xx-postgres.sh)
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_CONTAINER_NAME=

# MariaDB/MySQL (xx-mariadb.sh)
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_CONTAINER_NAME=

# ClickHouse (xx-clickhouse.sh)
CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_CONTAINER_NAME=
